.background-blue {
  background-color: rgb(174, 208, 240);
}

.background-green {
  background-color: rgb(172, 219, 154);
}

.background-yellow {
  background-color: rgb(230, 224, 152);
}

.background-orange{
  background-color: rgb(238, 169, 130);
}

