.background-yellow {
  background: rgb(245, 245, 166);
}

.background-orange {
  background: orange;
}

.background-blue {
  background: rgb(155, 155, 204);
}

.background-green {
  background: rgb(138, 219, 138);
}